body {
    margin: 0;
    background-color: #dbcfc3;
    height: 99vh;
}

.tests-tree {
    width: 49vw;
    padding: 0 0.7vw;
    margin-top: 2.9vh;
    height: 96.9%;
}

.fixtures {
    overflow: auto;
    height: 100%;
}

.fixtureName {
    background-image: radial-gradient(#aaaaff, #5555ff);
    margin: 1%;
    border-radius: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
    padding-right: 5.3vw;
}

.fixtureName::before {
    content: "";
    background: url(../img/expand.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    opacity: 0.5;
    height: 1.2vw;
    width: 1.2vw;
    display: inline-block;
    margin: 0.3vw 1vw 0 0.75vw;
}

.selected .fixtureName::before {
    background: url(../img/collapse.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

.selected .fixtureName {
    background-image: radial-gradient(#bbbbff, #775577);
    cursor: auto;
}

.fixtureName:hover {
    background-image: radial-gradient(#aaaaff, #5555aa);
    cursor: pointer;
}

.tests {
    overflow: auto;
    margin-top: -0.4vw;
}

.test {
    padding: 0.2vw;
    visibility: hidden;
    margin: 0;
    padding-left: 1vw;
    padding-right: 2vw;
    text-align: center;
    border-radius: 1.5vw;
    font-weight: bold;
    white-space: pre-line;
    font-size: 1.2vw;
    position: absolute;
    top: 0;
}

.test:hover {
    cursor: pointer;
}

.test[status='passed']{
    background-image: radial-gradient(rgba(85,126,85,0.5), rgba(0,221,0,0.75));
}

.test[status='failed']{
    background-image: radial-gradient(rgb(136,85,85, 0.4), rgba(251, 0, 0, 0.8));
}

.test[status='broken']{
    background-image: radial-gradient(rgba(221,221,0,0.5), rgba(126,126,0,0.8));
}

.test[status='skipped']{
    background-image: radial-gradient(rgba(221,221,221), rgba(126,126,126));
}

.test[status='passed']:hover{
    background-image: radial-gradient(#558855, #00dd00, #558855);
}

.test[status='failed']:hover{
    background-image: radial-gradient(#885555, rgba(221,0,0, 0.7), #885555);
}

.test[status='broken']:hover{
    background-image: radial-gradient(#aabb11, #dddd00, #888800);
}

.test[status='skipped']:hover{
    background-image: radial-gradient(#555555, #dddddd, #888888);
}

.selected .test{
    visibility: visible;
    margin: 0.5%;
    position: initial;
}

.test.visible {
    visibility: visible;
    margin: 1%;
    position: initial;
}

.test.hidden, .fixture.hidden, .test.search-hidden, .fixture.search-hidden, .test.tag-hidden, .fixture.tag-hidden {
    visibility: hidden;
    position: absolute;
    top: 0;
}

.test.selected {
    border: slateblue ridge 0.2vw;
    font-size: 1.35vw;
    padding-top: 0.45vw;
}

.test .tag {
    position: relative;
    left: 1.8vw;
    width: 1.5vw;
    float: right;
    content: url(../img/tag_on.png);
}

.test .tag.hidden {
    content: url(../img/tag_off.png);
}

img.tag:hover {
    border: 1px double black;
    border-radius: 4vw;
}