body {
    margin: 0;
    background-color: #dbcfc3;
}

.summary {
    position: absolute;
    padding: 0.7vw;
    left: 20vw;
}

.summary div {
    display: inline;
    margin: 0.5vw;
    padding: 0.4vw;
    border-radius: 4vw;
    font-weight: bold;
    color: #333388;
}

.summary div.selected {
    border: 2px ridge grey;
}

.summary div:hover {
    cursor: pointer;
    border: 2px dotted grey;
}

.summary .passed {
    background-image: radial-gradient(#00dd00, #00ff00);
}

.summary .failed {
    background-image: radial-gradient(#ff0000, #dd0000);
}

.summary .skipped {
    background-image: radial-gradient(#dddd00, #ffff00);
}

.summary .passed:hover {
    background-image: radial-gradient(#00ff00, #00dd00);
}

.summary .failed:hover {
    background-image: radial-gradient(#dd0000, #ff0000);
}

.summary .skipped:hover {
    background-image: radial-gradient(#ffff00, #dddd00);
}
.content {
    padding: 0.7vw;
    padding-bottom: 0;
}

.fixtures {
    height: 25vw;
    overflow: auto;
}

table {
    width: 100%;
}

.fixtureName {
    background-image: radial-gradient(#aaaaff, #5555ff);
    text-align: center;
    margin: 1%;
    width: 30vw;
    height: 5vw;
    border-radius: 1vw;
    font-weight: bold;
    font-size: 1.5vw;
}

.selected .fixtureName {
    background-image: radial-gradient(#bbbbff, #775577);
    cursor: auto;
}

.fixtureName:hover {
    background-image: radial-gradient(#aaaaff, #5555aa);
    cursor: pointer;
    height: 5vw;
}

.tests {
    position: absolute;
}

.test {
    padding-top: 0.6vw;
    visibility: hidden;
    margin: 0;
    padding-left: 1vw;
    padding-right: 2vw;
    text-align: center;
    height: 2vw;
    border-radius: 1.5vw;
    font-weight: bold;
    white-space: nowrap;
    font-size: 1.2vw;
    position: fixed;
}

.test:hover {
    cursor: pointer;
}

.test[status='passed']{
    background-image: radial-gradient(#558855, #00dd00);
}

.test[status='failed']{
    background-image: radial-gradient(#885555, #dd0000);
}

.test[status='passed']:hover{
    background-image: radial-gradient(#558855, #00dd00, #558855);
}

.test[status='failed']:hover{
    background-image: radial-gradient(#885555, #dd0000, #885555);
}

.selected .test{
    visibility: visible;
    margin: 0.5%;
    position: initial;
}

.visible {
    visibility: visible;
    margin: 1%;
    position: initial;
}

.hidden {
    visibility: hidden;
    position: absolute;
}