/* General Styles */
html {
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #dbcfc3;
    font-family: Arial, sans-serif;
}

/* Layout adjustments */
.tests-tree {
    width: 51%;
padding: 0 1em;
box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fixtures {
    overflow-y: auto;
    max-height: 80vh;
    flex-grow: 1;
}

/* Base fixture style */
.fixture {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Align elements to occupy available space */
    width: calc(100% - 1em);
    padding: 0.5em;
    background-color: #e0e0e0; /* Light background */
    border-radius: 0.5em;
    margin-bottom: 0.5em;
}

/* Ensure .test elements stack below .fixtureName when .fixture is selected */
.fixture.selected {
    flex-direction: column;
    align-items: flex-start;
}

/* Styling for .fixtureName */
.fixtureName {
    background: linear-gradient(to right, #8884d8, #6b62cc);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    display: flex;
    align-items: center;
    flex-grow: 1;
}


.fixtureName::before {
    content: "\25BA"; /* Unicode character for right-pointing triangle (►) */
    font-size: 1em;
    margin-right: 0.5em;
    opacity: 0.5;
}

.selected .fixtureName::before {
    opacity: 1;
}

.fixture.selected .fixtureName {
    width: 100%; /* Ensure .fixtureName fills full width in selected mode */
}

/* .summary placed on the right side */
.fixture .summary {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding-left: 1em;
}

/* Styling the summary badges */
.fixture .summary div {
    margin-left: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
}

.fixture .summary .passed {
    background-color: #a8e6a1;
}

.fixture .summary .failed {
    background-color: #f6a1a1;
}

.fixture .summary .broken {
    background-color: #f3e99f;
}

.fixture .summary .skipped {
    background-color: #cccccc;
}

/* Tests Styles */
.tests {
    margin-left: 1em;
}

.test {
    display: none;
    padding: 0.5em 1em;
    margin: 0.5em 0;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
    white-space: pre-line;
    transition: background 0.3s;
    position: relative;
}

/* .test styling */
.fixture.selected .test {
    display: block;
    width: calc(100% - 2em);
    margin: 0.5em 1em;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: bold;
    text-align: left;
}

/* Status-based colors for .test elements */
.fixture.selected .test[status="passed"] {
    background-color: #a8e6a1;
}

.fixture.selected .test[status="failed"] {
    background-color: #f6a1a1;
}

.fixture.selected .test[status="broken"] {
    background-color: #f3e99f;
}

.fixture.selected .test[status="skipped"] {
    background-color: #cccccc;
}

/* Hover effects */
.fixtureName:hover,
.test:hover {
    background: linear-gradient(#bbb, #888);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.test.selected {
    border: 2px ridge slateblue;
    font-size: 1.1em;
    padding-top: 0.5em;
}

/* Tag Icon Styles */
.test .tag {
    width: auto;
    height: auto;
    margin-left: 0.5em;
    cursor: pointer;
    display: inline-block;
}

.test .tag::before {
    content: "\2605"; /* Unicode character for a star */
    font-size: 1em;
}

.test .tag.filtered::before {
    content: "\2606"; /* Unicode character for an empty star (☆) */
}

.test .tag:hover {
    border: 1px double black;
    border-radius: 0.5em;
}

/* Hidden Elements */
.fixture.selected .test.hidden, .fixture.selected .test.tag-hidden, .fixture.selected .test.search-hidden, .fixture.selected .test.stable-hidden, .fixture.hidden {
    display: none;
}