/* Style for screenshot if present within .test-info.selected */
.test-info.selected #screenshot img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Subtle shadow for emphasis */
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Increase screenshot size on hover for clarity */
.test-info.selected #screenshot img:hover {
    transform: scale(1.05);
}
#screenshot {
    width: 20vw;
    position: absolute;
    left: 14.4vw;
    top: 52vh;
}

#screenshot:empty {
display: none;
}

#screenshot img.increased {
    width: 77%;
    bottom: 1vh;
    height: 100%;
    left: 10vw;
    z-index: 1;
    position: fixed;
    border-radius: 0;
}