.steps:not(:empty) {
    top: 3.8%;
    position: absolute;
    width: 48.5vw;
    height: 68.75vw;
    overflow: auto;
    left: 51vw;
}

.stepsContent {
    margin-top: 7vw;
    padding: 0 5vw;
    position: absolute;
    width: 38.5vw;
    overflow: inherit;
}

.stepsContent::-webkit-scrollbar {
    width: 0;
}

.steps:not(:empty)::after {
    content: "";
    background: url(../img/back.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    opacity: 0.5;
    height: 100%;
    width: inherit;
    position: absolute;
    z-index: -1;
}

.stepName {
    border-style: double;
}