.test-info.selected {
    top: 3.6%;
    position: absolute;
    width: 50vw;
    height: 96.4%;
    overflow: auto;
    left: 50vw;
}

.stepsContent {
    margin: 0 4.5vw;
    bottom: 23.5vw;
    position: absolute;
    width: 40vw;
    overflow: inherit;
    height: 20vw;
    border: silver double thick;
}

.stepsContent:nth-child(3) {
    bottom: 8vw;
    height: 47vw;
}

.stepsContent::-webkit-scrollbar {
    width: 0;
}

.test-info.selected::after {
    content: "";
    background: url(../img/back.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    opacity: 0.5;
    height: 100%;
    width: inherit;
    position: absolute;
    z-index: -1;
}

.step div {
    border-style: inset outset;
}

.subStep {
    padding-left: 4vw;
}

#run-info {
    position: inherit;
    bottom: 46vw;
    left: 4vw;
    font-size: 1.75vw;
    font-family: cursive;
    color: cornsilk;
}

#run-info:nth-child(1) {
    top: 8vw;
}

#error-info {
    position: inherit;
    top: 4vw;
    margin: 5vw 7vw 0;
    height: 9vw;
    width: 35vw;
}

#error-info:empty {
    position: absolute;
    top: 0;
}

.stack-line {
    display: none;
}

.error-expanded .stack-line {
    display: block;
}

#error-info:hover {
    cursor: pointer;
}

#error-info a:hover {
    cursor: alias;
}

.error {
    position: relative;
}

.error:nth-of-type(1) {
    top: -1vw;
}

.error:nth-of-type(2) {
    bottom: -3vw;
}

.error::after {
    content: "";
    background: rgb(150, 50, 50);
    width: 110%;
    background-size: 100% 100%;
    height: -webkit-calc(100% + 2vw);
    height:    -moz-calc(100% + 2vw);
    height:         calc(100% + 2vw);
    position: absolute;
    z-index: -1;
    left: -5%;
    opacity: 0.8;
    top: -1vw;
}

.error:hover::after {
    background: rgba(150, 50, 50, 0.5);
}

.error-name {
    text-align: center;
    width: inherit;
}

.error-expanded .stack-line:nth-of-type(1) {
    padding-left: 1vw;
  }
  .error-expanded .stack-line:nth-of-type(2) {
    padding-left: 2vw;
  }
  .error-expanded .stack-line:nth-of-type(3) {
    padding-left: 3vw;
  }
  .error-expanded .stack-line:nth-of-type(4) {
    padding-left: 4vw;
  }
  .error-expanded .stack-line:nth-of-type(5) {
    padding-left: 5vw;
  }
  .error-expanded .stack-line:nth-of-type(6) {
    padding-left: 6vw;
  }
  .error-expanded .stack-line:nth-of-type(7) {
    padding-left: 7vw;
  }
  .error-expanded .stack-line:nth-of-type(8) {
    padding-left: 8vw;
  }
  .error-expanded .stack-line:nth-of-type(9) {
    padding-left: 9vw;
  }
  .error-expanded .stack-line:nth-of-type(10) {
    padding-left: 10vw;
  }
  .error-expanded .stack-line:nth-of-type(11) {
    padding-left: 11vw;
  }
  .error-expanded .stack-line:nth-of-type(12) {
    padding-left: 12vw;
  }
  .error-expanded .stack-line:nth-of-type(13) {
    padding-left: 13vw;
  }
  .error-expanded .stack-line:nth-of-type(14) {
    padding-left: 14vw;
  }
  .error-expanded .stack-line:nth-of-type(15) {
    padding-left: 15vw;
  }
  