.test-info.selected {
    top: 3.6%;
    position: absolute;
    width: 50vw;
    height: 68.75vw;
    overflow: auto;
    left: 50vw;
}

.stepsContent {
    margin: 24.5vw 4.5vw 0;
    position: absolute;
    width: 40vw;
    overflow: inherit;
    height: 20vw;
    border: silver double thick;
}

.stepsContent:nth-child(3) {
    margin-top: 14vw;
    height: 47vw;
}

.stepsContent::-webkit-scrollbar {
    width: 0;
}

.test-info.selected::after {
    content: "";
    background: url(../img/back.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
    opacity: 0.5;
    height: 100%;
    width: inherit;
    position: absolute;
    z-index: -1;
}

.step div {
    border-style: inset thin;
}

.subStep {
    padding-left: 5vw;
}

#run-info {
    position: inherit;
    top: 19vw;
    left: 5vw;
    font-size: 1.75vw;
    font-family: cursive;
    color: cornsilk;
}

#run-info:nth-child(1) {
    top: 8vw;
}

#error-info {
    position: inherit;
    top: 8vw;
    left: 10vw
}

#error-info:empty {
    position: absolute;
    top: 0;
}