.test-info.selected {
  top: 3.6%;
  position: absolute;
  width: 50vw;
  height: 96.4%;
  overflow: auto;
  left: 50vw;
}

.stepsContent {
  margin: 0 4.5vw;
  bottom: 23.5vh;
  position: absolute;
  width: 40vw;
  overflow: inherit;
  height: 29vh;
  border: silver double thick;
}

.stepsContent:nth-child(3) {
  bottom: 11vh;
  height: 55vh;
}

.stepsContent::-webkit-scrollbar {
  width: 0;
}

.test-info.selected::after {
  content: "";
  background: url(../img/back.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  opacity: 0.5;
  height: 100%;
  width: inherit;
  position: absolute;
  z-index: -1;
}

.step div {
  border-style: inset outset;
  cursor: zoom-out;
}

.step[hiddenInfo] div {
  cursor: zoom-in;
}

.step[hiddenInfo] .subStep {
  visibility: hidden;
  position: absolute;
}

.step .subStep {
  padding-left: 4vw;
}

#run-info {
  position: absolute;
  bottom: 55vh;
  left: 4vw;
  font-size: 1.75vw;
  font-family: cursive;
  color: cornsilk;
}

#run-info:nth-child(1) {
  top: 8vw;
}

#error-info {
  position: inherit;
  top: 6vh;
  margin: 3.5vh 6.5vw 0;
  width: 35vw;
}

#error-info:empty {
  position: absolute;
  top: 0;
}

.stack-line {
  display: none;
}

.error-expanded .stack-line {
  display: block;
}

#error-info:hover {
  cursor: pointer;
}

#error-info a:hover {
  cursor: alias;
}

.error {
  position: relative;
  width: inherit;
  height: fit-content;
  padding: 1vh 1vw;
  margin-bottom: 1vw;
}

.error:only-child {
  top: 3vh;
}

.error::after {
  content: "";
  background: rgb(150, 50, 50);
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  left: 0;
  top: 0;
}

.error:hover::after {
  background: rgba(150, 50, 50, 0.5);
}

.error-name {
  text-align: center;
  width: inherit;
  height: 100%;
  font-size: 1.75vh;
}

.error-expanded .stack-line:nth-of-type(1) {
  padding-left: 1vw;
}
.error-expanded .stack-line:nth-of-type(2) {
  padding-left: 2vw;
}
.error-expanded .stack-line:nth-of-type(3) {
  padding-left: 3vw;
}
.error-expanded .stack-line:nth-of-type(4) {
  padding-left: 4vw;
}
.error-expanded .stack-line:nth-of-type(5) {
  padding-left: 5vw;
}
.error-expanded .stack-line:nth-of-type(6) {
  padding-left: 6vw;
}
.error-expanded .stack-line:nth-of-type(7) {
  padding-left: 7vw;
}
.error-expanded .stack-line:nth-of-type(8) {
  padding-left: 8vw;
}
.error-expanded .stack-line:nth-of-type(9) {
  padding-left: 9vw;
}
.error-expanded .stack-line:nth-of-type(10) {
  padding-left: 10vw;
}
.error-expanded .stack-line:nth-of-type(11) {
  padding-left: 11vw;
}
.error-expanded .stack-line:nth-of-type(12) {
  padding-left: 12vw;
}
.error-expanded .stack-line:nth-of-type(13) {
  padding-left: 13vw;
}
.error-expanded .stack-line:nth-of-type(14) {
  padding-left: 14vw;
}
.error-expanded .stack-line:nth-of-type(15) {
  padding-left: 15vw;
}
