.summary {
    position: inherit;
    margin: 1vh 0 -1.9vh;
    padding-left: 1vw;
    height: 2vh;
}

.summary div {
    display: inline;
    margin: 0.75vh 0.5vw;
    padding: 0.6vh 0.4vw;
    border-radius: 4vw;
    font-weight: bold;
    color: #333388;
}

.summary div.filtered {
    background-color: white;
    background-image: none;
}

.summary div[class] {
    font-size: 1.25vw;
}

.summary div[class]:hover {
    cursor: pointer;
    border: 2px dotted grey;
}

.summary div.filtered:hover {
    background-color: sandybrown;
    background-image: none;
}

.summary .passed {
    background-image: radial-gradient(#00dd00, #00ff00);
}

.summary .failed {
    background-image: radial-gradient(#ff0000, #dd0000);
}

.summary .broken {
    background-image: radial-gradient(#dddd00, #ffff00);
}

.summary .skipped {
    background-image: radial-gradient(#dddddd, #aaaaaa);
}

.summary .passed.filtered {
    color: #007700;
}

.summary .failed.filtered {
    color: #770000;
}

.summary .broken.filtered {
    color: #777700;
}

.summary .skipped.filtered {
    color: #777777;
}

.summary .passed:hover {
    background-image: radial-gradient(#00ff00, #00dd00);
}

.summary .failed:hover {
    background-image: radial-gradient(#dd0000, #ff0000);
}

.summary .broken:hover {
    background-image: radial-gradient(#ffff00, #dddd00);
}

.summary .skipped:hover {
    background-image: radial-gradient(#ffffff, #dddddd);
}

.fixture .summary {
    position: relative;
    padding: 0.7vw;
    left: -1.6vw;
    top: 0.9vw;
    margin: -1.4vw;
    float: right;
    width: fit-content;
}

.fixture .summary div {
    display: inline;
    margin: 0.1vw;
    padding: 0vw;
    border-radius: 4vw;
    font-weight: bold;
    color: black;
}

#time {
    position: absolute;
    left: 50vw;
    top: -1vh;
    font-size: min(1.5vw, 2vh);
}

#search {
    position: absolute;
    left: 34vw;
    width: 14.1vw;
    height: 2.8vh;
    top: 0.4vh;
    font-style: oblique;
    font-size: 1.5vw;
    color: maroon;
    padding-right: 1vw;}

.summary .tag {
    background-color: #551155;
    color: #dbcfc3;
    position: absolute;
    left: 31vw;
    top: -0.3vh;
}

.summary .tag.filtered {
    background-color: #dbcfc3;
    color: #551155;
}

#searchFixtureTooltip {
    position: absolute;
    left: 44vw;
}

#searchFixture {
    left: 48.73vw;
    margin: 0;
    padding: 0;
    height: 3.4vh;
    top: 0.4vh;
    position: absolute;
    font-weight: 1000;
    z-index: 1;
}

#searchFixture[enabled=false] {
    color: rgba(0,0,0,0.1);
}
